
:root {
    --color-primario: #142426;
    --color-sec: #f0f0f2;
    --color-ter: #b8b8bf;
    --color-cuarto: #f25f29;
    --color-quinto: #bf2a37;
    --color-sexto: #0396a6;
    --color-septimo: #6cd9d9;
    --color-octavo: #DAEAFD;
    --color-noveno: #f29c50;
    --color-decimo: #333;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
body{
    overflow-x: hidden;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

h1,
h2,
h3,
h4,
h5,
p,
input,
button,
textarea {
    color: var(--color-noveno);
    border: none;
    outline: none;
}