.formcontato--esquerda {
  width: 45%;
  margin: auto;
  position: relative;
    padding: 10rem;
  
}
.formcontato__img {
  width: 35rem;
  height: 35rem;
  margin: auto;
  display: block;

  border-radius: 20px;
}
@media (max-width: 768px) {
  .formcontato--esquerda {
    display: none;
  }
}
