.formcontato__text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formcontato__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-sec);
}

.formcontato__subtext {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .3rem;
    color: var(--color-sec);
}

.formcontato__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.input {
    position: relative;
}

.formcontato__input,
.formcontato__textarea {
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    color: var(--color-sec);
    color: var(--color-principal);
}

.validar-estado {
    position: absolute;
    font-size: 1.2rem;
    right: 0;
    color: var(--color-quinto);
    opacity: 0;
}
.incorrecto .validar-estado{
    opacity: 1;
}
.correcto .validar-estado{
    opacity: 1;
    color: var(--color-septimo);
}

.formcontato__textarea {
    resize: none;
}

.formcontato__input:hover,
.formcontato__textarea:hover {
    border-bottom: 2px solid var(--color-quinto);
}

.formcontato__botao {
    width: 18%;
    padding: 1rem ;;
    color: var(--color-sec);
    background-color: var(--color-cuarto);
    border: 1px solid var(--color-cuarto);
    cursor: pointer;
    border-radius: 1rem;
    
}

.formcontato__botao:hover {
    color: var(--color-cuarto);
    background-color: var(--color-sec);
    border: 1px solid var(--color-sec);
}

@media(max-width: 1350px) {
    .formcontato__botao{
        width: 25%;
    
    }
}

@media (max-width: 800px) {
    .formcontato__text {
        width: 100%;
    }
    .formcontato__botao{
        width: 30%;
    }

}

@media (max-width:425px) {
    .formcontato__botao {
        width: 40%;
    }
}