.menu__header img{
    height: 6rem ;
   position: absolute;
    top: 1rem;
    left: -7rem;
    
}

@media (max-width: 800px) {
    .menu__header img {
        height: 4rem;
        left: -4rem;
    }
}

@media (max-width: 425px) {
    .menu__header img {
        height: 2.2rem;
        left: -2rem;
    }
}
