.menu{
    display: flex;
    
    justify-content: space-between;
    padding: 1rem 2rem;
    

    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../../assets/Imagenes/muhd-asyraaf-9B-y0oNTbXo-unsplash.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: center;

}

@media (max-width:425px) {
    .menu{
        padding: 0.5rem 1rem;
    }
    
}