.experience {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-noveno);
  border-radius: 20px;
  margin: 1.5rem 2rem;
}

.experience__section__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-decimo);
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.general {
  display: flex;
}

.general-1 {
  width: 50%;
  padding: 8rem 250px 100px 7rem;
  background-color: #e1e2e6;
}

.general-2 {
  background-image: url(../../assets/ImagenesProyect/incriptadortxt.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.general-3 {
  background-image: url(../../assets/ImagenesProyect/Alura-Play.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.general-4 {
  background-image: url(../../assets/ImagenesProyect/Alura\ Barber.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.imgproyect{
  display: none;
}
.sub_tec {
  display: flex;

  padding: 0.8rem;
  text-transform: uppercase;
  color: var(--color-principal);
}

.Contenedor__tec li {
  display: inline-flex;
  margin: 1.5px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  flex-wrap: wrap;
  filter: grayscale(1);
}

.Contenedor__tec :hover {
  filter: grayscale(0);
}

.Herramienta__Usada img {
  height: 3.2rem;
  width: 3.2rem;
}

.description {
  padding: 1.5rem;
  color: var(--color-principal);
}

h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #414247;
  margin-bottom: 25px 0 45px;
}

@media (max-width: 1350px) {
  .general-1 {
    padding: 8rem 100px 100px 7rem;
  }
}

@media(max-width: 800px){
  .experience {
    padding: 10rem;
    background-color: aqua;
  }

  .experience__section__title {
    font-size: 1.8rem;
  }

  .general {
    flex-direction: column;
  }

  .general-1 {
    width: 100%;
    padding: 2rem;
  }

  .general-2 {
    display: none;
  }

  .general-3 {
    display: none;
  }

  .general-4 {
    display: none;
  }

  .imgproyect{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 14px;
  }

  .sub_tec {
    font-size: 1.5rem;
  }

  .Contenedor__tec li {
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }

  .Herramienta__Usada img {
    height: 2rem;
    width: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p {
    font-size: 1rem;
  }
}


@media (max-width: 425px) {
  .experience {
    padding: 10rem;
    background-color: aqua;
  }

  .experience__section__title {
    font-size: 1.5rem;
  }

  .general {
    flex-direction: column;
  }

  .general-1 {
    width: 100%;
   
    padding: 2rem;
  }

  .general-2 {
    display: none;
  }

  .general-3 {
    display: none;
  }

  .general-4 {
    display: none;
  }

  .imgproyect{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 14px;
  }

  .sub_tec {
    font-size: 1rem;
  }

  .Contenedor__tec li {
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }

  .Herramienta__Usada img {
    height: 2rem;
    width: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p {
    font-size: 1rem;
  }
}