.title__profile {
    width: 35rem;
    height: 35rem; 
    border-radius: 15px;
    filter: grayscale(1);
 }
 
 
 @media (max-width: 800px) {
      .title__profile {
         width: 20rem;
         height: 20rem;
      
      }
 }
 
 @media (max-width: 425px) {
    .title__profile {
       width: 15rem;
       height: 15rem;
   
    }
 }