.about_Me{
    display: inline-flex;
    gap: 1.5rem;




}

.about__img{
    width: 500px;
    height: 420px;
    border-radius: 20px;
    margin: 1rem 6rem;
} 


.about__text{
    display: flex;
    margin: auto 1rem;
    color: var(--color-principal);
    font-weight: bolder;
}

@media (max-width: 425px) {
    .about_Me{
       flex-direction: column;
        gap: 1.5rem;
       
       margin-left: -1rem;
       
        
    }
    .about__img{
        width: 300px;
        height: 300px;
        margin: 1rem 1rem;
    }
    .about__text{
        font-size: 1rem;
    }
}