.hobbies {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.hobbies__title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--color-cuarto);
}

@media (max-width: 800px){
    .hobbies__title{
        font-size: 2.8rem;
    }
}

@media(max-width: 425px){
    .hobbies__title{
        font-size: 2rem;
    }
}